.jsframe-preset-style-redstone-default {
    background: white;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.jsframe-preset-style-redstone-focused {
    background: white;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
