.ex04title_default {
    background: white;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.ex04title_focused {
    background: white;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
